/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #5c4300 !important;
  --toolbarbutton-icon-fill: #eac16c !important;
  --toolbar-field-color: #ebe1d4 !important;
  --tab-selected-textcolor: #eac16c !important;
  --toolbar-color: #ebe1d4 !important;
  --arrowpanel-color: #ebe1d4 !important;
  --arrowpanel-background: #241f17 !important;
  --sidebar-text-color: #ebe1d4 !important;
  --zen-main-browser-background: #17130b !important;
  --zen-main-browser-background-toolbar: #17130b !important;
}

#zen-browser-background {
  --zen-main-browser-background: #17130b !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #17130b !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #241f17 !important;
}

#zen-workspaces-button {
  background-color: #241f17 !important;
}

#TabsToolbar {
  background-color: #17130b !important;
}

.urlbar-background {
  background-color: #241f17 !important;
}

.urlbar-input::selection {
  color: #402d00 !important;
  background-color: #eac16c !important;
}

.urlbarView-url {
  color: #d1c5b4 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #eac16c
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffd98a !important;
  --identity-icon-color: #ffd98a !important;
}

.identity-color-turquoise {
  --identity-tab-color: #eac16c !important;
  --identity-icon-color: #eac16c !important;
}

.identity-color-green {
  --identity-tab-color: #adff9e !important;
  --identity-icon-color: #adff9e !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffee9e !important;
  --identity-icon-color: #ffee9e !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe567 !important;
  --identity-icon-color: #ffe567 !important;
}

.identity-color-red {
  --identity-tab-color: #ffa098 !important;
  --identity-icon-color: #ffa098 !important;
}

.identity-color-pink {
  --identity-tab-color: #ffdf9e !important;
  --identity-icon-color: #ffdf9e !important;
}

.identity-color-purple {
  --identity-tab-color: #6c4901 !important;
  --identity-icon-color: #6c4901 !important;
}

#zen-appcontent-navbar-container {
  background-color: #17130b !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #eac16c !important;
  color: #eac16c !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #eac16c !important;
  color: #eac16c !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #eac16c !important;
}
