/* Matugen Zen Browser Theme */
:root {
  --zen-main-browser-background: transparent !important;
  --zen-main-browser-background-toolbar: transparent !important;
}

#zen-browser-background,
#zen-toolbar-background {
  --zen-background-opacity: 0 !important;
  background: transparent !important;
}

#TabsToolbar,
#zen-appcontent-navbar-container {
  background-color: transparent !important;
}

.sidebar-placesTree {
  background-color: transparent !important;
}

#zen-workspaces-button {
  background-color: transparent !important;
}

#navigator-toolbox,
#TabsToolbar,
#zen-sidebar-top-buttons,
#zen-sidebar-foot-buttons {
  background: transparent !important;
  background-color: transparent !important;
}

.urlbar-background {
  background-color: {{colors.surface_container.default.hex}} !important;
}

.urlbar-input::selection {
  color: {{colors.on_primary.default.hex}} !important;
  background-color: {{colors.primary.default.hex}} !important;
}

.urlbarView-url {
  color: {{colors.on_surface_variant.default.hex}} !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: {{colors.primary.default.hex}}
    }
  }
}

#zen-appcontent-navbar-container {
  background: transparent !important;
  background-color: transparent !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: {{colors.primary.default.hex}} !important;
  color: {{colors.primary.default.hex}} !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: {{colors.primary.default.hex}} !important;
  color: {{colors.primary.default.hex}} !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: {{colors.primary.default.hex}} !important;
}
